<html lang="pt-br">

<head>
</head>
<style>
</style>

<body class="bg-light">

    <div class="container" style="max-width: 600px !important;margin: 50px auto; border">
        <div class="card text-center" style="
        background-color: #fff;
        color: #333;
        padding: 20px;
        border: none !important;
        border-radius: 15px;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
        animation: fadeIn 1s ease-in-out;
        text-align:center;
        ">
            <h2 id="confirmado"
            style="font-size: 24px;
                font-weight: bold;
                color: #FF8040;
                background: #f8f9fa;
                padding: 10px;
                border-radius: 10px;
                display: inline-block;
                margin: 0;"
            >Novo Agendamento</h2>
            <p>Um novo aluno marcou agendamento para o tour!</p>
                <p>Nome do Aluno: <b>-name-</b></p>
                <p>Email do Aluno: <b>-email-</b></p>
                <p>Data: <b>-date- às -time-</b></p>
            <p>
                Em caso de duvida, entre em contato com:
                <br>
                <b>inovacaoead@unifil.br</b>
            </p>
            
            <br>
            <img src="https://portal.unifil.br/static/templates/unifil/assets/images/logoPortal.png" alt="UniFil" \>
        </div>
    </div>
</body>

</html>